<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="serviceBehavior">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="serviceBehavior" name="RemoteCompileService1.RemoteCompileService1">
                <endpoint address="RemoteCompileService1" binding="basicHttpBinding"
                    bindingConfiguration="" name="basicHttp" contract="RemoteCompileService1.IRemoteCompileService1" />
                <endpoint binding="mexHttpBinding" bindingConfiguration="" name="mex"
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://192.168.1.2:8000/RemoteCompileService1" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>